In [1]:
import pandas as pd

In [2]:
ad=pd.read_csv('ad_feature.csv',header=0)

In [5]:
ad.price=round(ad.price,2)

In [7]:
ad.head(10)

,ï»¿adgroup_id,cate_id,campaign_id,customer,brand,price
0,63133,6406,83237,1,95471,170.00
1,313401,6406,83237,1,87331,199.00
2,248909,392,83237,1,32233,38.00
3,208458,392,83237,1,174374,139.00
4,110847,7211,135256,2,145952,32.99
5,607788,6261,387991,6,207800,199.00
6,11115,7213,139747,9,186847,33.00
7,24484,7207,139744,9,186847,19.00
8,590965,4284,28145,14,454237,249.00
9,639794,6261,70206,14,37004,89.90

In [8]:
import numpy as np
from metric_learn import LMNN